body {
  margin: 0;
  font-family: "Mono Semi";
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Mono Semi";
  src: url("./assets/fonts/Overpass_Mono/static/OverpassMono-SemiBold.ttf");
}

@font-face {
  font-family: "Mono Bold";
  src: url("./assets/fonts/Overpass_Mono/static/OverpassMono-Bold.ttf");
}
